/* Grid Setup*/
body {
    /*background-color: tomato;*/
    display: grid;
    min-height: 100%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
}

/* Styling for images in navigation bar*/
nav a p img {
    max-width: 6rem;
    max-height: 5rem;
}
nav div p img {
    margin: 0;
    margin-left: 4rem;
    max-width: 14rem;
    max-height: 10rem;
}

#obs {
    margin-top: 1.5rem;
    max-width: 6rem;
    max-height: 2rem;
}
/* Styling for paragraphs in navigation bar*/
nav a p {
    margin: 0;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

main {
    justify-content: center;
}

/* #Students{
  max-width: 100%;
  min-width: 100%;
} */

h1 {
    color: black;
    margin-left: 20px;
}


footer {
    background-color: white;
}

footer hr {
    margin: 0;
}

.Rema-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    text-transform: uppercase;
    padding-left: 5rem;
    padding-right: 5rem;
}

.offer1{
    border-style: solid;
}

.offer2{
    border-style: solid;
}

.offer3{
    border-style: solid;
}

.offer4{
    border-style: solid;
}

.offer5{
    border-style: solid;
}

.offer6{
    border-style: solid;
}

.offer7{
    border-style: solid;
}

.offer8{
    border-style: solid;
}

p img{
    max-width: 70%;
}

@media screen and (max-width: 736px) {
    .Rema-grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto ;
        text-transform: uppercase;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    nav div p{
        border-bottom: solid;
    }
}

@media screen  and (min-width: 737px) and (max-width: 1100px){
    .Rema-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto ;
        text-transform: uppercase;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    nav a p img {
        max-width: 4rem;
        max-height: 3rem;
    }
    #obs{
        max-width: 3rem;
        max-height: 2rem;
    }
}